body {
    background-image: url('https://www.bhmpics.com/downloads/quiz-backgrounds/15.neon-icon-quiz-blue-banner-3d-style-white-background-vector-illustration_123447-2128.jpg');
    font-family: Arial, sans-serif;
    background-color: #0c1c47;
    color: white;
    text-align: center;
    padding-top: 20px;
    
}





